body {
    font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar a {
    color: rgb(0 0 0 / 91%);
}

.navbar a:hover {
    color: rgb(0 0 0 / 50%);
}

.navbar-toggler {
    color: beige;
}

/* Banner Container */
.banner-container {
    height: 100vh;
    width: 100%;

    background: url("../images/airplane.jpg") no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 0;
}

.migmig {
    max-width: 70px;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    z-index: 10;
}

.jumbotron h1 {
    color: #c5dee5;
    font-size: 3rem;
}

.jumbotron p {
    color: #c5dee5;
    letter-spacing: 2px;
}

/* How section */
.how-container {
    background-color: #c5dee5;
    padding-top: 20px;
    padding-bottom: 70px;
}

.how-container .card {
    border-color: #c5dee5;
    background-color: #c5dee5;
    color: #08264c;
}

.how-container h2 {
    color: #08264c;
}

/* Who section */
.who-container {
    background: url("../images/who-background1.png") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    padding-top: 30px;
    padding-bottom: 50px;
    padding: 50px;
    color: yellow;
    text-shadow: 0px 0px 8px #2f0604;
}

/* buttons */
.btn-normal {
    color: #d70000;
    background-color: yellow;
    border-color: yellow;
    border-radius: 20px;
}

.btn-normal:hover {
    color: #a80505;
    background-color: rgb(226, 226, 7);
    border-color: rgb(226, 226, 7);
    ;
}

/* Quote section */
.quote-container {
    background-color: rgb(58, 56, 56);
    color: rgb(219 218 218);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: bisque;
    color: #c40404;
    padding: 50px;
}

footer a {
    color: inherit;
    text-decoration: none;
}


/* media query 576 */
@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: small;
    }

    .jumbotron h1 {
        font-size: 2rem;
    }

    .how-container h2 {
        font-size: 1.5rem;
    }

    .who-container h2 {
        font-size: 1.5rem;
    }

    .who-container h3 {
        font-size: 1.5rem;
    }

    .quote-container h2 {
        font-size: 1.5rem;
    }

    #footer {
        font-size: xx-small;
    }
}