body {
    font-family: 'Poppins', sans-serif;

}

/* style for navbar-------------------------------------------- */
.navbar a {
    color: rgb(0 0 0 / 91%);
    text-decoration: none;
}

.navbar a:hover, 
.navbar a:active {
    color: rgba(240, 15, 15, 0.91);
}

.navbar-toggler {
    color: beige;
}

.user-name {
    display: flex;
    border-radius: 5px;
    padding: 3px;
    color: rgb(235, 227, 226);
    background-color: rgb(43, 40, 40);
    font-weight: 600;
}

.user-name h6 {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.user-name a {
    color: rgb(235, 227, 226);

    
}

/* style for base template---------------------------------------------- */
.alarm {
    margin-top: 70px;
}

.main-content {
    margin-top: 20px;
}

/* style for index template ------------------------------------------------ */
.title {
    padding: 0px;
    display: flex;
    align-items: center;
}

.title h4{
    margin-bottom: 0;
}

.index-title-search {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.search-bar {
    padding: 0;
}

.search-btn {
    padding: 0;
}

.index-card-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: rgb(176, 229, 250);
    border-radius: 10px;
    border-color: rgb(118, 211, 248);
    margin: 5px 5px;
    width: 26.3rem;

}

.card-body {
    
}

/* style for footer ----------------------------------------------------------- */
.footer {
    background-color: bisque;
    color: #c40404;
    padding: 10px;
}

.footer a {
    color: inherit;
    text-decoration: none;
}
.footer p {
    margin-bottom: 0;
}
