

body {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}


/* style for navbar-------------------------------------------- */

.navbar {
    background-color: rgb(239, 237, 236)
}

.navbar a {
    color: rgb(0 0 0 / 91%);
    text-decoration: none;
}


.navbar a:hover {
    font-weight: bold;
    color: rgb(0 0 0 / 91%);
}


.navbar .active {
    font-weight: bold;
}

.navbar-toggler {
    color: rgb(207, 207, 178);
}

.navbar-nav li {
    display: flex;
    justify-content: right;
    align-items: center;
}

.user-name {
    display: flex;
    border-radius: 15px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 10px;
    color: #f09d46;
    background-color: #422b6d;
    font-weight: 600;
    
}

.user-name h6 {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.user-name a {
    color: #efedec;
}
.user-name a:hover {
    color: #f09d46;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    font-weight: 700;
}

/* style for base template---------------------------------------------- */
.alarm-container-fluid {
    margin-top: 82px;
}

.alert {
    margin-bottom: 0;
    border: none;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0;
}

.alert-dismissible {
    padding-right: 0;
    background-color: #eb9e9e;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
}

.row {
    --bs-gutter-x: 0;
}

main.container-fluid {
    margin: 0;
    padding: 0;
}


/* style for page pagination */
.page-pagination {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Style for quote section */

.container-quote {
    width: 100%;
    background-color: rgb(58, 56, 56);
    color: rgb(219 218 218);
    padding-top: 20px;
    padding-bottom: 20px;
}

blockquote p {
    padding: 0 50px 0 50px;
}


/* style for index template ------------------------------------------------ */

/* style for banner */
div.container-fluid {
    margin: 0;
    padding: 0;
}
.banner-container {
    margin-top: 0;
    height: 70vh;
    width: 100%;

    background: url(https://res.cloudinary.com/dn2dfatdi/image/upload/v1696617740/c6tdfjunpg5viia0rx9h.webp) no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 0;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    z-index: 1;
}

.jumbotron h1 {
    color: #759aa2;
    font-size: 3rem;
    
}

.jumbotron p {
    color: #759aa2;
    letter-spacing: 2px;
}

/* End of banner style */

/* Style for page title and search bar */

.title {
    padding: 0px;
    display: flex;
    align-items: center;
}

.title h4{
    margin-bottom: 0;
    
}

.index-title-search {
    display: flex;
    justify-content: space-around;
}

.search-bar {
    padding: 0;
}

.search-btn {
    padding: 0;
}
/* end of page title and search bar style */

/* Style for card space */

.card-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #759aa2;
    border-radius: 10px;
    margin: 5px 5px;
    width: 32.4%;
    
}

.card h5 {
    
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.card h6 {
    
    font-size: 0.9rem;
    padding: 0;
    margin-bottom: 5px;
}

.flight-details {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 0.78rem;
}

.card .name-postdate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card .btn-sm {
    font-size: 0.7rem;
}

.btn-primary {
    background-color: #422b6d;
    border-color:#422b6d;
}

.btn-primary:hover {
    background-color: #8867c4;
    
}

.index-title-search .form-control {
    margin-top: 0;
}

/* style for my flights template---------------------------------------------- */

.delet-button {
    margin-top: 26px;
}


/* style for traveler's contact template ------------------------------------ */

.traveler-contact {
    background-color: #759aa2;
    border-radius: 10px;
    padding: 20px;
    width: 99%;
}


.traveler-contact h4 {
    
    margin-bottom: 15px;
}

.traveler-contact p {
    
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
}

.image-container {
    text-align: center;
}

.traveler-contact-img {
    border-radius: 20px;
    height:160px;
    width:160px;
}

.contact-container {
    padding-left: 20px;

}

.flight-container {
    padding-left: 20px;
}
/* style for add flight template ----------------------------------------------- */

.form-control {
    margin-top: 5px;
}

input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 40px;
    padding: 0.375rem 0.75rem;
}

#id_remember.checkboxinput {
    width: auto;
    height: auto;
    margin-top: 10px;
}

/* style for footer ----------------------------------------------------------- */
.footer {
    background-color: #f09d46;
    color: #682a11;
    padding: 10px;
}

.footer a {
    color: inherit;
    text-decoration: none;
}
.footer p {
    margin-bottom: 0;
}



/* style for media------------------------------------------------------ */
@media screen and (max-width: 1200px) {
    .card {
        width: 48.5%;
    }

    .traveler-contact-img {
        display: inline;
       align-items: center;
    }

    .traveler-contact p {
        line-height: 1rem;
    }

    .traveler-contact h4 {
        font-size: medium;
        
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .contact-container {
        padding-left: 0;
        text-align: center;

    }

    .flight-container {
        padding-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .user-name {
        display: flex;
        border-radius: 15px;
        padding-right: 8px;
        padding-left: 8px;
        justify-content: center !important;
        font-weight: 600;
    }
    
    .user-name h6 {
        margin-right: 10px;
        display: flex;
        align-items: center;
        font-weight: 600;
    }
    
   
    .card {
        width: 98%;
    }

    .traveler-contact p {
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1rem;
        margin-bottom: 5px;
        
    }

    .traveler-contact h4 {
        font-size: medium;
        
        
    }

}

@media screen and (max-width: 576px){ 
    .card .name-postdate {
        margin-left: 4px;
        margin-top: 4px;
    }

    .card .pic-name-date {
        display: flex;
        flex-direction:column;
        text-align: center;

    }

    .jumbotron h1 {
        font-size: 2rem;
    }

    .container-quote h2 {
        font-size: 1.5rem;
    }

    .delet-button {
        margin-top: 0;
    }
}

/* to prevent navbar borken in sumsung fold screen */
@media screen and (max-width: 300px){
    .navbar-brand {
        font-size: medium;
    }
}