{% extends "base.html" %}
{% block title %}Error 404{% endblock %}

{% block content %}
<!-- Error 404 -->
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3><strong>500 Internal Server Error</strong></h3>
            <p>Oops! Something went wrong on our server.</p> 
            <p>We apologize for the inconvenience. Our team has been notified and is working to fix it.</p> 
            
            <a href="{% url 'home' %}" class="btn btn-primary" aria-label="Button back to home page">Back Home</a>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}