{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Flight{% endblock %}

{% block content %}


<div>
    <div class="container" >
        <div class="row">
            <div class="col-12 col-md-6 offset-2">
                <h3><strong>Add new flight</strong></h3>
                <p>Please furnish traveler information and flight details using the form below.<br> 
                    All fields are required. Please make sure to fill in each one.</p>
                <form method="POST" action="{% url 'add_flight' %}" class="form text-muted" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="update-btn-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary my-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{%endblock%}