{% extends "base.html" %}
{% block title %}Archive Flight{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3><strong>Archive Flight Details</strong></h3>
            <p>Archiving will hide the flight details from other users. Are you sure you want to archive the flight details 
                from <strong>{{ flight_details.origin }}</strong> to <strong>{{ flight_details.destination }}</strong>? 
            </p>
            <form method="post" action="{% url 'archive_flight' flight_details.slug %}"
            enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Archive</button>
                <a href="{% url 'my_flights' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
    

{% endblock %}