{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title
    <title>MigMigShimpment</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;900&family=Rubik:wght@300;400;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/migmig.ico' %}" type=" image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
</head>

<body class="d-flex flex-column h-100 main-bg">
    <!-- Navigation -->
    
    <nav class="navbar navbar-expand-md bg-light fixed-top p-3">
        
            <img src="{% static 'images/migmig.png' %}" alt="migmig" class="migmig mr-2" style="height: 50px;"/>
            <a class="navbar-brand" href="/"><strong>MigMigShipment</strong></a>

            <button class="navbar-toggler navbar-light justify-content-end" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav justify-content-end ">
                {% with url_name=request.resolver_match.url_name %}
                {% if user.is_authenticated %}
               
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Upcomming Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'add_flight' %}active{% endif %}" href="{% url 'add_flight' %}">Add Flight</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'my_flights' %}active{% endif %}" href="{% url 'my_flights' %}">My Flights</a>
                </li>
                <li class="nav-item user-name">
                    <h6>Hello! {{ user.username }}</h6>
                    <a class="nav-link {% if url_name == 'account_logout' %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
                </li>
                
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                {% endwith %}
            </ul>
        </div>
    </nav>
    
    
    <div class="alarm-container-fluid alarm">
        <div>
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
   
    

    <main class="container-fluid main-content flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>


    {% with url_name=request.resolver_match.url_name %}
    {% if url_name == 'home' %}
    {% if not user.is_authenticated %}
    <!-- Quote -->
    <section class="container-quote">
        <div class="text-center m-5">
            <h2 class="col-12 text-uppercase">users' experiences</h2>
        </div>
        <div class="row text-center m-4">
            <blockquote class="col-sm-12 col-md-6 col-lg-4">
            <div class="media d-inline">
                <img
                src="{% static 'images/woman.png' %}"
                alt="image"
                class="rounded-circle mb-2"
                height="100px"
                width="100px"
                />
                <p>
                "This app revolutionized the way I connect with people and get
                things done. It's a game-changer!"
                </p>
                <p><cite>- Maryam Tehrani</cite></p>
            </div>
            </blockquote>
            <blockquote class="col-sm-12 col-md-6 col-lg-4">
            <div class="media d-inline">
                <img
                src="{% static 'images/man.png' %}"
                alt="image"
                class="rounded-circle mb-2"
                height="100px"
                width="100px"
                />
        
                <p>
                "I never knew finding someone to deliver my packages could be so
                easy. This app made it simple and fast"
                </p>
                <p><cite>- Rechard Bose</cite></p>
            </div>
            </blockquote>
            <blockquote class="d-block d-md-none d-none d-lg-block col-lg-4">
            <div class="media d-inline">
                <img
                src="{% static 'images/girl.png' %}"
                alt="image"
                class="rounded-circle mb-2"
                height="100px"
                width="100px"
                />
                <p>
                "Finally, an app that bridges the gap between travelers and those
                in need. It's like a matchmaking service for delivery requests!"
                </p>
                <p><cite>- Fatima Al-Saud</cite></p>
            </div>
            </blockquote>
        </div>
    </section>
    {% endif %}  
    {% endif %} 
    {% endwith %}
    
    <!-- Footer -->
    <footer class="footer mt-auto text-center">
        <div>
            <small>
                <a href="/">Terms of Service</a> |
                <a href="/">Privacy Policy</a>
            </small>
        </div>
        <div>
            <small style="letter-spacing: 4px;"><i class="fa-regular fa-copyright ml-1"></i> 2023 MigMigShimpment.</small>
        </div>
            <p class="pt-2">
                <a target="_blank" href="/"><i aria-hidden="true" class="fa-brands fa-facebook-f ms-3"></i></a>
                <a target="_blank" href="/"><i aria-hidden="true" class="fa-brands fa-twitter ms-3"></i></a>
                <a target="_blank" href="/"><i aria-hidden="true" class="fa-brands fa-instagram ms-3"></i></a>
                <a target="_blank" href="/"><i aria-hidden="true" class="fa-brands fa-youtube ms-3"></i></a>
            </p>
    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
      ></script>
      <script
      src="https://kit.fontawesome.com/b0f5111e3c.js"
      crossorigin="anonymous"
      ></script>
      <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
      ></script>
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
      ></script>
</body>

</html>