{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Delete Flight Details</h3>
            <p>Are you sure you want to delete the flight details from {{ flight_details.origin }} to {{ flight_details.destination }}?</p>
            <form method="post" action="{% url 'delete_flight' flight_details.slug %}"
            enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'my_flights' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
    

{% endblock %}