{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit Flight{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Update your flight details:</h3>
            <form method="POST" class="form text-muted" action="{% url 'edit_flight' flight_details.slug %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="update-btn-group">
                    <button type="submit" class="btn btn-primary mt-2">Update</button>
                    <a href="{% url 'my_flights' %}" class="btn btn-secondary my-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
