
{% extends "base.html" %}
{% load static %}
{% block title %}Upcomming Flights{% endblock %}
{% block content %}

<!-- Banner which is shown for users who are not logged in -->
{% if not user.is_authenticated %}
<div class="container-fluid">
    <section class="banner-container">
        <div class="opaque-overlay">&nbsp;</div>
        
          <div class="jumbotron m-4">
            <h1 class="text-uppercase">
              <strong>the fastest way to ship your small parcel</strong>
            </h1>
            <p>
              <strong
                >We Connect those who have urgent parcel with travelers.</strong
              >
            </p>
            <a class="btn btn-lg btn-success" href="{% url 'account_signup' %}">
              <strong>Join Us!</strong>
            </a>
          </div>
        
      </section>
</div>
{% endif %}

<!-- Title and search bar -->
<div class="container ">
    <div class="row mt-4 gutter=none">
        <!-- title -->
        <div class="title col-12 col-lg-4 ">
            <h4><strong>Upcomming Flights</strong></h4>
        </div>
        <!-- search bar -->
        <form method="GET" class="row gy-2 gy-lg-0 col-12 col-lg-8 index-title-search">
            <div class="col-12 col-lg-8 px-lg-1 search-bar">
                <select id="origin" name="origin" class="form-control">
                    <option value="">Select from the list</option>
                    {% for choice in choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-lg-4 search-btn">
                <button type="submit" class="btn btn-primary col-12 ">Find Flights</button>
            </div>
        </form>
        
    </div>
    
</div>

        
        
<div class="container card-space">   
    {% if flightdetails_list %}
    <div class="row">
        {% for flight_details in flightdetails_list %}
        <div class="card text-left">
            <div class="card-body">
                <div class="row pic-name-date">
                    <div class="col-12 col-sm-3">
                        <img src="{% static 'images/default-profile-pic.jpeg' %}" class="rounded-circle"
                    height="50px"
                    width="50px" alt="traveler">
                    </div>
                    <div class="name-postdate col-12 col-sm-9">
                        <h5>{{ flight_details.traveler }}</h5>
                        {% if flight_details.is_updated %}
                        <p style="font-size: 0.7rem;">Updated on: {{ flight_details.updated_on }}</p>
                        {% else %}
                        <p style="font-size: 0.7rem;">Posted on: {{ flight_details.created_on }}</p>
                        {% endif %}
                    </div>
                </div>
                <hr>

                <div class="flight-details">
                    <h6>Flight Details:</h6>
                    <p><strong>From: </strong>{{ flight_details.origin }}</p>
                    <p><strong>To: </strong>{{ flight_details.destination }}</p>
                    <p><strong>Flight Date: </strong>{{ flight_details.flight_date }}</p>
                    <p><strong>Weight Capacity: </strong>{{ flight_details.weight_capacity }} kg</p>
                </div>

                {% if user.is_authenticated %}
                <a href="{% url 'traveler_contact' flight_details.slug %}" 
                class="btn btn-primary btn-sm">Contact Traveler</a>
                {% else %}
                <a href="{% url 'account_signup' %}" 
                class="btn btn-primary btn-sm">Contact Traveler</a>
                {% endif %}
            </div>
        </div>
        {% if forloop.counter|divisibleby:12 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    <div/>
    {% else %}
    <div>
        <p>No flights matching your search.</p>
    </div>
    
    {% endif %}
</div>


{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination mt-3 justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}



{%endblock%}