
{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Banner which is shown for users who are not logged in -->
{% if not user.is_authenticated %}
<div class="banner-container">
    <div class="opaque-overlay">&nbsp;</div>
        <div class="jumbotron m-4">
            <h1 class="text-uppercase">
            <strong>the fastest way to ship your small parcel</strong>
            </h1>
            <p>
            <strong
                >We Connect those who have urgent parcel with travelers.</strong
            >
            </p>
            <a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}" aria-label="Button join us">
            <strong>Join Us!</strong>
            </a>
        </div>
    
</div>
{% endif %}

<!-- Title and search bar -->
<div class="container ">
    <div class="row mt-4">
        <!-- title -->
        <div class="title col-12 col-lg-4 ">
            <h4><strong>Upcoming Flights</strong></h4>
        </div>
        <!-- search bar -->
        <form method="GET" class="row gy-2 gy-lg-0 col-12 col-lg-8 index-title-search">
            <div class="col-12 col-lg-8 px-lg-1 search-bar">
                <select id="origin" name="origin" class="form-control" aria-label="Select an airport">
                    <option value="">Select an airport</option>
                    {% for choice in choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-lg-4 search-btn">
                <button type="submit" class="btn btn-primary col-12 ">Find Flights</button>
            </div>
        </form>
    </div>
</div>

        
<!-- Card Sapce -->
<div class="container card-space">   
    {% if flightdetails_list %}
    <div class="row">
        {% for flight_details in flightdetails_list %}
        <div class="card text-left">
            <!-- Card Body -->
            <div class="card-body">
                <div class="row pic-name-date">
                    <div class="col-12 col-sm-3">
                        <img src="{% static 'images/default-profile-pic.jpeg' %}" class="rounded-circle"
                    height="50"
                    width="50" alt="traveler">
                    </div>
                    <div class="name-postdate col-12 col-sm-9">
                        <h5>{{ flight_details.traveler }}</h5>
                        {% if flight_details.is_updated %}
                        <p style="font-size: 0.7rem;">Updated on: {{ flight_details.updated_on }}</p>
                        {% else %}
                        <p style="font-size: 0.7rem;">Posted on: {{ flight_details.created_on }}</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="flight-details">
                    <h6>Flight Details:</h6>
                    <p><strong>From: </strong>{{ flight_details.origin }}</p>
                    <p><strong>To: </strong>{{ flight_details.destination }}</p>
                    <p><strong>Flight Date: </strong>{{ flight_details.flight_date }}</p>
                    <p><strong>Weight Capacity: </strong>{{ flight_details.weight_capacity }} kg</p>
                </div>
                {% if user.is_authenticated %}
                <a href="{% url 'traveler_contact' flight_details.slug %}" 
                class="btn btn-primary btn-sm" aria-label="Button contact traveler">Contact Traveler</a>
                {% else %}
                <a href="{% url 'account_signup' %}" 
                class="btn btn-primary btn-sm" aria-label="Button contact traveler">Contact Traveler</a>
                {% endif %}
            </div>
        </div>
        {% if forloop.counter|divisibleby:12 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <!-- When no flights match user search -->
    <div>
        <p>No flight was found!</p>
    </div>
    
    {% endif %}
    
</div>

{%endblock%}