{% extends "base.html" %}
{% block title %}My Flights{% endblock %}

{% block content %}
<!-- Card space -->

<div class="container card-space">
    <div class="row" >
        <h4><strong>My Flights</strong></h4>
        <div class="row">
            {% if flightdetails_list %}
            {% for flight_details in flightdetails_list %}
            <div class="card text-left">
                <!-- Cord body -->
                <div class="card-body">
                    <div class="row pic-name-date">
                        <div class="col-12 col-sm-3">
                            <img src="{{ flight_details.traveler_image.url }}" class="rounded-circle"
                        height="50"
                        width="50" alt="traveler image">
                        </div>
                        <div class="name-postdate col-12 col-sm-9">
                            {% if flight_details.status == 0 %}
                            <h5 style="color: green;"><strong>ARCHIVED</strong></h5>
                            {% endif %}
                        <h5><strong></strong>{{ flight_details.fname | capfirst }} {{ flight_details.lname | capfirst }}</h5>
                        {% if flight_details.is_updated %}
                            <p style="font-size: 0.7rem;">Updated on: {{ flight_details.updated_on }}</p>
                        {% else %}
                            <p style="font-size: 0.7rem;">Posted on: {{ flight_details.created_on }}</p>
                        {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="flight-details">
                        <h6>Flight Details:</h6>
                        <p><strong>From: </strong>{{ flight_details.origin }}</p>
                        <p><strong>To: </strong>{{ flight_details.destination }}</p>
                        <p><strong>Flight Date: </strong>{{ flight_details.flight_date }}</p>
                        <p><strong>Weight Capacity: </strong>{{ flight_details.weight_capacity }} kg</p>
                        <br>
                        <h6>Contact Details:</h6>
                        <p><strong>Address: </strong>{{ flight_details.address }}</p>
                        <p><strong>Email Address: </strong>{{ flight_details.email }}</p>
                        <p><strong>Phone No.: </strong>{{ flight_details.mobile_number }}</p>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            {% if flight_details.status == 0 %}
                            <div>
                                <a href="{% url 'delete_flight' flight_details.slug %}" class="delet-button col-12 btn btn-danger btn-sm" aria-label="Button delete flight">Delete Flight</a>
                            </div>
                            {% else %}
                            <div>
                                <a href="{% url 'edit_flight' flight_details.slug %}" class="mb-1 col-12  btn btn-primary btn-sm" aria-label="Button edit flight">Edit Flight</a>
                            </div >
                            <div>
                                <a href="{% url 'archive_flight' flight_details.slug %}" class="mb-1 col-12  btn btn-success btn-sm" aria-label="Button archive flight">Archive Flight</a>
                            </div>
                            
                            <div>
                                <a href="{% url 'delete_flight' flight_details.slug %}" class="col-12  btn btn-danger btn-sm" aria-label="Button delete flight">Delete Flight</a>
                            </div>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
        {% if forloop.counter|divisibleby:12 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
        <!-- When user has not posted any flight yet -->
        {% else %}
        <p>You have not posted any flight yet!</p>
        {% endif %}
        </div>
    </div>
</div>



{%endblock%}