{% extends "base.html" %}
{% block title %}My Flights{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="col-12 mb-3 left" >
        <h4>My Flights</h4>
        <div class="row">
            {% for flight_details in flightdetails_list %}
            <div class="card text-center m-1 col-lg-3">
                <div class="card-body">
                    {% if flight_details.status == 0 %}
                    <h4 style="color: rgb(57, 145, 22);"">ARCHIVED</h4>
                    {% endif %}
                    <img src="{{ flight_details.traveler_image.url }}" class="rounded-circle"
                        height="50px"
                        width="50px" alt="traveler">
                    <h5 class="card-title">{{ flight_details.fname }} {{ flight_details.lname }}</h5>
                    <p class="card-text">is going to travel:</p>
                    <p>From: {{ flight_details.origin }}</p>
                    <p>To: {{ flight_details.destination }}</p>
                    <p>Flight Date: {{ flight_details.flight_date }}</p>
                    <p>Weight Capacity: {{ flight_details.weight_capacity }} kg</p>
                    <p>Posted on: {{ flight_details.created_on }}</p>
                    <br>
                    <h6>You can contact with traveler with below information</h6>
                    <p>Address: {{ flight_details.address }}</p>
                    <p>Email Address: {{ flight_details.email }}</p>
                    <p>Phone No.: {{ flight_details.mobile_number }}</p>
                    {% if flight_details.status == 1 %}
                    <a href="{% url 'edit_flight' flight_details.slug %}">Edit Flight</a>
                    <a href="{% url 'archive_flight' flight_details.slug %}">Archive Flight</a>
                    {% endif %}
                    <a href="{% url 'delete_flight' flight_details.slug %}">Delete Flight</a>
                    
                </div>
            </div>
            
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        <div/>
    </div>
</div>
    
    
    
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}



{%endblock%}