{% extends "base.html" %}
{% block title %}Traveler's Contact Details{% endblock %}

{% block content %}
<!-- Show flight details with full information -->
<div class="container card-space">
    <h2><strong>Traveler's Contact Details</strong></h2>
    <div class="traveler-contact">
        <div class="row">
            <p style="font-size: small; margin: 0;">Posted on {{ flightinfo.created_on }}  By {{ flightinfo.traveler }}</p>
        </div>
        <hr>
        <div class="row gx-lg-2">
            <div class="col-12 col-lg-3 image-container">
                <img src="{{ flightinfo.traveler_image.url }}" class="traveler-contact-img"
                             alt="traveler">
            </div>
            <div class="col-12 col-lg-4 contact-container">
                <h3>Traveler's Contact Details:</h3>
                <p><strong>Traveler Name: </strong>{{ flightinfo.fname | capfirst }} {{ flightinfo.lname | capfirst }}</p>
                <p><strong>Address: </strong>{{ flightinfo.address }}</p>
                <p><strong>Email Address: </strong>{{ flightinfo.email }}</p>
                <p><strong>Phone No.: </strong>{{ flightinfo.mobile_number }}</p>
                
            </div>
            <div class="col-12 col-lg-5 flight-container">
                <h3>Flight Details:</h3>
                <p><strong>From: </strong>{{ flightinfo.origin }}</p>
                <p><strong>To: </strong>{{ flightinfo.destination }}</p>
                <p><strong>Flight Date: </strong>{{ flightinfo.flight_date }}</p>
                <p><strong>Weight Capacity: </strong>{{ flightinfo.weight_capacity }} kg</p>
            </div>
    </div>
    </div>
</div>
    
{% endblock %}